/* body{
    position: relative;
} */
/* 
#whole{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 138, 37);
    text-align: center;
} */

